# Grafana datasource provisioning for Prometheus
# This file auto-configures Prometheus as a datasource when Grafana starts

apiVersion: 1

datasources:
  - name: Prometheus
    type: prometheus
    access: proxy
    url: http://localhost:9090
    isDefault: true
    editable: false
    jsonData:
      timeInterval: "15s"
      httpMethod: "POST"
